hw-02/.ipynb_checkpoints/hw_02-checkpoint.ipynb
hw-02/hw_02_package/.ipynb_checkpoints/
hw-02/hw_02_package/__pycache__/
hw-02/hw_02_package/plotting_charts/__pycache__/
hw-02/hw_02_package/utils/__pycache__/
hw-02/hw_02_package/utils/.ipynb_checkpoints/serviceDataAPI-checkpoint.py
